body {
   background: url(https://media.istockphoto.com/photos/pastel-light-blue-green-tone-water-color-paper-texture-background-picture-id1153114652?k=6&m=1153114652&s=170667a&w=0&h=_ie60Lm8oVbKoVnLgD0pomtqHjNzOp0DaIw9SJdpsQY=);
   background-size: cover;
   background-repeat: no-repeat;
}
